<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dar Notas</title>
</head>
<body>
<h1>Lista de Alunos</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop sobre a lista de alunos para exibir cada linha da tabela -->
    <th:block th:each="aluno : ${alunos}">
        <tr th:each="disciplina : ${disciplinas}">
            <td th:text="${disciplina.id_disciplina}"></td>
            <td th:text="${disciplina.nome}"></td>


        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>