<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela do Professor</title>
    <!-- Incluindo Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            padding: 20px;
        }
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <h2 class="mb-4">Bem-vindo, Professor</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Dar Notas
                </div>
                <div class="card-body">
                    <p>Aqui você pode dar notas aos alunos por disciplina.</p>
                    <a href="/darnotas" >
                    <button class="btn btn-primary" onclick="darNotas()">Dar Notas</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Registrar Faltas
                </div>
                <div class="card-body">
                    <p>Aqui você pode registrar faltas dos alunos por disciplina.</p>
                    <a href="/darfaltas" >
                    <button class="btn btn-primary" onclick="registrarFaltas()">Registrar Faltas</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Incluindo Bootstrap JS e jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>
</html>